
.vista-standart 		{color:#FC5255;}
.vista-gold 		{color:#FFFD38;}
.vista-start 		{color:#B9B4E2;}
.vista-optimum 		{color:#20CB9A;}
.vista-max	 		{color:#1DB1ED;}

.vista-box			{background-color:#ffffff; color:#000000;}
.vista-standart-bg 	{background-color:#FC5255; color:#ffffff;}
.vista-gold-bg 		{background-color:#FFFD38; color:#000000;}
.vista-start-bg 		{background-color:#B9B4E2; color:#000000;}
.vista-optimum-bg 	{background-color:#20CB9A; color:#ffffff;}
.vista-max-bg	 	{background-color:#1DB1ED; color:#ffffff;}

.vista-box-md {
	border:1px solid #000000;
}
.vista-box-sm {
	border:1px solid #999999;
}



.vista-box.vista-box-md {
	border-radius:8px!important;
	padding:5px 10px;
	margin:0 5px;
}
.vista-box.vista-box-md .left {
	padding:5px 10px;
	margin-left:-10px;
	border-top-left-radius:8px!important;
	border-bottom-left-radius:8px!important;
	margin-right:-1px;
}
.vista-box.vista-box-md .right {
	padding:5px 10px;
	margin-right:-10px;
	border-top-right-radius:8px!important;
	border-bottom-right-radius:8px!important;
}




.vista-box.vista-box-sm {
	border-radius:4px!important;
	padding:1px 6px;
	margin:0 2px;
}
.vista-box.vista-box-sm .left {
	padding:1px 6px;
	margin-left:-6px;
	border-top-left-radius:4px!important;
	border-bottom-left-radius:4px!important;
	margin-right:-1px;
}
.vista-box.vista-box-sm .right {
	padding:1px 6px;
	margin-right:-6px;
	border-top-right-radius:4px!important;
	border-bottom-right-radius:4px!important;
}




